/* @import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto Condensed", sans-serif;
    max-width: 1920px;
    border: 2px solid red;
}
/* Navbar section style */
nav{
    height: 80px;
    display: flex;
}

nav ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
}
