/* @import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    max-width: 1920px;
    /* border: 2px solid red; */
}

/* Navbar section style */
nav {
    /* height: 80px;
    width: 1140px; */
    height: 80px;
    width: 1920px;
    margin: 0 auto;
    /* margin-left: 10%;
    margin-right: 10%; */
    background-color: #181824;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

a:hover {
    color: #7562e0;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul {
    margin-right: 10%;
    display: flex;
    gap: 50px;
    font-size: 24px;
    font-weight: bold;

}

.name {
    color: #7562e0;
    font-size: 40px;
    margin-left: 10%;
}

li:first-child {
    /* color: #7562e0; */
}

/* Banner section style */
.banner-section {
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    background-color: #1a1a29;
    color: white;
}

.banner-container-1 {
    /* border: 2px solid green; */
    width: 50%;
    margin-left: 10%;
    padding: 200px 200px;

}

.banner-container-2 {
    /* border: 2px solid yellow; */
    width: 50%;
    margin-right: 10%;
    margin-top: 95px;
}

.banner-title {
    font-size: 32px;
    font-weight: 600;
}

.banner-name {
    font-size: 60px;
    font-weight: 600;
}

.banner-name::first-letter {
    font-size: 1.5em;
}

.banner-description {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px; 
}

.btn-1 {
    height: 50px;
    width: 150px;
    background-color: #7562e0;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 18px;
}

.btn-1:hover {
    cursor: pointer;
    color: #7562e0;
    background-color: white;
}

.btn-2 {
    height: 50px;
    width: 150px;
    margin-left: 10px;
    background-color: #1a1a29;
    border-radius: 8px;
    border: 1px solid #7562e0;
    color: white;
    font-size: 18px;
}

.btn-2:hover{
    cursor: pointer;
    background-color: white;
    color: #1a1a29;
    border-style: dashed; 
} 
